APP_URL=http://localhost:9999
APP_TIMEZONE=Asia/Kolkata
MYSQL_TIMEZONE=+5:30
APP_VERSION=1.0.4


APP_ENV=local   #production or local or dev
# if APP_ENV = production, caching and minify html will work

ITEMS_PER_PAGE=10

DB_DATABASE=namodesk
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306
DB_LOGGING=false
DB_PREFIX= # if no prefix, leave empty

JWT_SECRET=d9f3c2b7e81a4f5c9d7a2e1b8f6c4a0d7e9b1c3f5a7d2e4c6b8f0a1d3e5f7c9
JWT_EXPIRATION=3600  # in seconds = 15*60 = 900; 60*60 = 3600

AJAX_CSRF_CONTEXT=ajax_csrf_context
CACHE_TIME=3600


S3_REGION=
S3_BUCKET=
S3_KEY=
S3_SECRET=

APP_TITLE='NamoDesk'
APP_DESCRIPTION=''
APP_META_IMAGE='http://localhost:9999/images/meta-image.jpg'
APP_FAVICON='http://localhost:9999/images/meta-image.jpg'



GOOGLE_CAPTCHA_SITE_KEY = ""
GOOGLE_CAPTCHA_SECRET_KEY = ""