/* General body text */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding-top: 60px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

main{
    min-height: calc(100vh - 60px);
}

label.form-label {
  font-weight: 500;
}
table tr th{
  font-weight: 500;
}
strong{
  font-weight: 500;
}
.cursor-pointer{
  cursor: pointer;
}