{extends file='layouts/base.html'}


{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
            <form class="card mt-5 forgot-password">
                <fieldset>

                    <div class="card-header">
                        <div class="d-flex justify-content-start align-items-center gap-3">
                            <a href="{$url}/guest/login">{svg file="arrow-big-left"}</a>
                            <h4 class="card-title">Forgot Password</h4>
                        </div>
                    </div>

                    <div class="card-body">
                          <div class="form-group mb-3">
            <label for="username" class="form-label">Username/Email/Mobile</label>
            <input type="text" class="form-control" id="username" name="username" autocomplete="username" value="administrator">
          </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>

{/block}

{block name="scripts"}
{js file="scripts/guest/forgot-password.js"}
{/block}