<form class="forgot-password guest  mw6 center pa4 br3 shadow-5 bg-white">
    <fieldset>
        <h2 class="tc font-pacifico f2 mb4">Forgot Password?</h2>
        <p class="tc">No worries. Enter your email or mobile, and we’ll send you otp to reset your password.</p>
        <div class="mb3">
            <label class="db mb1 font-montserrat f6" for="fusername">Email/Mobile</label>
            <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="text" id="fusername" name="fusername"
                placeholder="you@example.com" required autocomplete="username">
        </div>

        <button class="w-100 pa3 bg-green white b--green br2 font-montserrat hover-bg-dark-green">Reset
            password</button>
         <div class="mt3 tc f6 font-poppins flex flex-column items-center">
  <button type="button" data-form="login"
            class="bg-transparent b--none pa2 mt2 link dim black-70 pointer flex items-center">
            <span class="mr2">{svg file="arrow_back"}</span>
            <span class="font-poppins">Back to login</span>
        </button>
    </fieldset>

</form>