<form class="register guest mw6 center pa4 br3 shadow-5 bg-white">
  <fieldset>
  <h2 class="tc font-pacifico f2 mb4">Join Us</h2>
    <p class="tc near-black">Join our community in just a few steps. Sign up today and start connecting.</p>

     <div class="mb3">
      <label class="db mb1 font-montserrat f6" for="fullname">Fullname</label>
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="text" id="fullname" name="fullname"
        placeholder="your name" required autocomplete="given-name">
    </div>

    <div class="mb3">
      <label class="db mb1 font-montserrat f6" for="remail">Email</label>
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="email" id="remail" name="email"
        placeholder="you@example.com" required autocomplete="email">
    </div>

     <div class="mb3">
      <label class="db mb1 font-montserrat f6" for="mobile">Mobile</label>
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="text" id="mobile" name="mobile"
        placeholder="xxxxxxxxxx" required autocomplete="mobile">
    </div>

    <button class="w-100 pa3 bg-green white b--green br2 font-montserrat hover-bg-dark-green">Register</button>
      <div class="mt3 tc f6 font-poppins flex flex-column items-center">
  <button type="button" data-form="login"
            class="bg-transparent b--none pa2 mt2 link dim black-70 pointer flex items-center">
            <span class="mr2">{svg file="arrow_back"}</span>
            <span class="font-poppins">Back to login</span>
        </button>
  </fieldset>

</form>