<form class="set-password guest mw6 center pa4 br3 shadow-5 bg-white">
  <fieldset>
    <h2 class="tc font-pacifico f2 mb4">Set New Password</h2>
    <p class="tc">Choose a strong, secure password to protect your account and continue safely.</p>
    <div class="mb3">
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="hidden" id="susername" name="susername"
        placeholder="you@example.com">
    </div>

     <div class="mb4">
      <label class="db mb1 font-montserrat f6" for="otp">One Time Passcode</label>
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="text" id="otp" name="otp"
        placeholder="" required autocomplete="one-time-code">
         <small class="f6 gray mt1 hint-text db font-poppins">Enter the 6-digit code sent to your phone/email</small>

    </div>

    <div class="mb4 relative">
      <label class="db mb1 font-montserrat f6" for="spassword">Password</label>
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="password" id="spassword" name="spassword"
        placeholder="********" required autocomplete="new-password">
        {include file="components/password-toggler.html"}

    </div>

    <div class="mb4 relative">
      <label class="db mb1 font-montserrat f6" for="cpassword">Confirm Password</label>
      <input class="input-reset ba b--black-20 pa3 w-100 font-poppins" type="password" id="cpassword" name="cpassword"
        placeholder="********" required autocomplete="new-password">
        {include file="components/password-toggler.html"}

    </div>

    <button class="w-100 pa3 bg-green white b--green br2 font-montserrat hover-bg-dark-green">Set Password</button>

  <div class="mt3 tc f6 font-poppins flex flex-column items-center">
  <button type="button" data-form="login"
            class="bg-transparent b--none pa2 mt2 link dim black-70 pointer flex items-center">
            <span class="mr2">{svg file="arrow_back"}</span>
            <span class="font-poppins">Back to login</span>
        </button>
</div>
  </fieldset>
</form>