{extends file='layouts/base.html'}
{block name="content"}

<div class="container">
    <section class="vh-100 flex items-center justify-center">
  <div class="tc">
    <h1 class="f-headline-l f1 fw6 orange font-montserrat">500</h1>
    <p class="f3 fw5 black-70 mt3 font-poppins">
      Something went wrong on our side. Please try again later.
    </p>
    <a href="/" class="mt4 dib pa3 bg-orange white no-underline br2 font-montserrat hover-bg-green pointer">
      Go Back Home
    </a>
  </div>
</section>

</div>

{/block}

{block name="scripts"}
{/block}

